.App {
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 30px 60px;
  grid-template-areas: 
      "r m m m m"
      "r m m m m"
      "r m m m m"
      "r m m m m"
      "r m m m m"
      "r g g g g"
      "n f f f f ";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.room-list {
  grid-area: r;
}
.new-room-form {
  grid-area: n;
}

.message-list {
  grid-area: m;
}

.send-message-form {
  grid-area: f;

}
.insert-user {
  grid-area: g;
}
/* css style*/
.btnGroupList {
  width: 100%;
  height: 50px;
  margin-left:0; 
  color: #8f9194 ;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 1px 0;
  font-size: 20px;
}
.btnGroupList:hover{
  background-color: #3f4144
}
.inputGroup {
  width: 100%;
  background: #282c34;
}
.room-list {
  color: #86878a;
  height: 100%;
  overflow-y: scroll;
  background-color: #2d2e30;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
.content-room {
  /* overflow: scroll; */
}
.rooms-list li {
  margin: 10px 0;
  color: #fff;
  overflow: scroll;
}
.rooms-list h2 {
  margin: 10px 0;
  color: #fff;
  background-color: #ffffff;
}

.room-list button {
  color: #f3f3f3;
}
.rooms-list > h3 {
  margin: 5px 0;
  color: var(--secondary-color);
}
.message {
  margin: 15px 0;
}

.message .message-username {
  font-size: 13px;
  color: #333;
  opacity: 0.9;
  margin-bottom: 15px;
}
.message .message-text {
  background: #6d8aac;
  color: #ffffff;
  display: inline;
  padding: 7px;
  border-radius: 18px;
}

.message-list {
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  background-color: #e7e7e7
}

.message-list li {
  list-style-type: none;
}
.insert-user span {
  font-size: 18px;
  padding-top: 1%;
  padding-left: 20%;
}
